html {
    overflow: auto;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration:line-through;
}

.Site {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    overflow-y: auto;
}

.Site-content {
    flex: 1;
}

footer {
    bottom: 0px;
    position: fixed;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    padding: 10px;
    background-color: white;
    top: 0;
    font-size: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 3vw;
}

div.logout {
    text-align: center;
}

input.button {
    background-color: black;
    color: white;
    padding: 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
    border-radius: 4px;
}

input.newtask {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 5px;
    opacity: 0.8;
    border-radius: 4px;
}

th.tasklist {
    font-size: 3vw;
    text-align: center;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

input[type=submit]:hover {
    opacity: 0.8;
}

h2 {
    text-align: center;
}