@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
    overflow: auto;
    font-family: 'Raleway', sans-serif;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration:line-through;
}

.Site {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    overflow-y: auto;
}

.Site-content {
    flex: 1;
}

footer {
    bottom: 0px;
    position: fixed;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    padding: 10px;
    background-color: white;
    top: 0;
    font-size: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 3vw;
    margin: 27px 0px 0px 0px;
}

div.logout {
    text-align: right;
    margin-top: -60px;
}

input.button {
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
}

input.newtask {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 5px;
    opacity: 0.8;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
}

th {
    font-size: 2vw;
    text-align: center;
    position: static;
}

table.center {
    margin: 0px auto;
    width: 40%;
    border-collapse: collapse;
}

input[type=submit]:hover {
    opacity: 0.8;
}

h2 {
    text-align: center;
}

td.bruh {
    height: 100%;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #dddddd;
    overflow-wrap: anywhere;
    padding: 10px;
}

::selection {
    color: #ffffff;
    background: black;
}