.Site {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    overflow-y: auto;
}

.Site-content {
    flex: 1;
}

footer {
    bottom: 0px;
    position: fixed;
}

/*:root {
    --text:Red;
    --shadow: black;
}

.playful {
    color: var(--text);
    text-shadow: 
      6px 6px  var(--shadow);
}
*/

div.form {
    display: block;
    text-align: center;
    position: relative;
    border-block-color: blue;
}

form.main {
    margin: 0px auto;
    width: 30%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

.imgcontainer {
    text-align: center;
    position: static;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 5px;
    border-radius: 4px;
}

input[type=submit]:hover {
    opacity: 0.5;
}

input.userbox {
    height: 15px;
}

h1 {
    text-align: center;
    font-size: 345%;
}

p.flashed {
    text-align: center;
    font-size: 200%;
}