@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body {
    text-align: center;
}
input[type=submit].serif {
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 250px;
    border: none;
    cursor: pointer;
    width: auto%;
    border-radius: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 300px;
}