<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ACCOUNT LOL</title>
</head>
<body>
    <h1><strong>Work In Progress</strong></h1>
    <form action='/logout'>
        <input type='submit' value='Logout'>
    </form>
    <br>
    <div class=container>
        <form action="/addtask" method="POST">
            <input type="text" name="newtask" placeholder="Add a new task!">
            <input type="submit" value="Add Task">
        </form>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    {% for message in get_flashed_messages() %}
        <h2><strong>{{ message }}</strong></h3>
    {% endfor %}
    <br>
    <table>
        <tr>
            <th>Task List</th>
            <th></th>
        </tr>
        {% for list in problem %}
        <tr>
            <td>{{ list.Task }}</td>
            <td>
                <form action="/delete" method="post">
                <input type="hidden" name="taskid" value="{{ list.ID }}">
                <input type="submit" value="Delete Task"> 
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>