<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='account.css')}}">
    <title>Account Page</title>
</head>
<body class="Site">
    <main class="Site-content">
        <h1><strong>Task Board</strong></h1>
        <div class="logout">
            <form action='/settings'>
                <input class="button" type='submit' value='Settings'>
            </form>
        </div>
        <br>
        <div class="sticky">
            <form action="/addtask" method="POST">
                <input type="text" name="newtask" placeholder="Add a new task!">
                <input class="newtask" type="submit" value="Add Task">
            </form>
        </div>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
        {% for message in get_flashed_messages() %}
            <h2><strong>{{ message }}</strong></h3>
        {% endfor %}
        <table class="center">
            <tr>
                <th class="tasklist">Task List</th>
                <th></th>
            </tr>
            <br>
            {% for list in problem %}
            <tr>
                <td>
                    {% if list.complete == 1 %}
                    <form>
                        <input type="checkbox" id="bruh" name="tasknumber" value="{{ list.Task }}" checked>
                        <label for="tasknumber">{{ list.Task }}</label>
                    </form>
                    {% else %}
                    <form>
                        <input type="checkbox" id="bruh" name="tasknumber" value="{{ list.Task }}">
                        <label for="tasknumber">{{ list.Task }}</label>
                    </form>
                    {% endif %}
                </td>
                <td>
                    <form action="/delete" method="post">
                    <input type="hidden" name="taskid" value="{{ list.ID }}">
                    <input class="newtask" type="submit" value="Delete Task"> 
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>
        <footer>
            <p>© 2020 Jayden Ling</p>
        </footer>
</body>
</html>