<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Welcome to the index page, which will direct you to the main page of my project</h1>
        <p><a href="/login">Click here</a> to access it</p>
        
        {% for message in get_flashed_messages() %}
        {{ message }}
        {% endfor %}
    </div>
</body>
</html>