<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{url_for('static',filename='login.css')}}">
        <title>Login Page</title>
    </head>
    <body>
        <h1>Please Login</h1>
        <br>
        <form action="/login" method="POST" class="main">
            <div class="imgcontainer">
                <img src="/static/pictures/login.png" alt="login.png" class="avatar">
            </div> 
            <input type="username" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Log in">
            {% if error %}
            <p class="playful"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p><strong>{{ message }}</strong></p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input formaction="/" type="submit" value="Back to the Home Page">
        </form>
    </body>
</html>