<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{url_for('static',filename='signup.css')}}">
        <title>Signup Page</title>
    </head>
    <body>
        <h1>Signup Page</h1>
        <br>
        <form action="/signup" method="POST">
            <div class="imgcontainer">
                <img src="/static/pictures/signup.PNG" alt="uwu" class="uwubruh">
            </div>

            <div>
                <input type="username" name="newuser" placeholder="Username">
                <input type="password" name="newpassword" placeholder="Password">
                <input type="submit" value="Signup">
            </div>
        </form>
        {% if error %}
        <p><strong>Error:</strong> {{ error }}</p>
        {% endif %}
        <form action="/">
            <input type="submit" value="Back to the Home Page">
        </form>
        </div>
    </body>
</html>