<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static',filename='welcome.css')}}">
    <title>Welcome!</title>
</head>
<body>
    <h1 class="playful a">Home</h1>
    <div class="centering">
    <form action='/login'>
        <input type='submit' value='Click here to login'>
    </form>
    <br>
    <form action='/signup'>
        <input type='submit' value='Click here to signup'>
    </form>
    </div>
    <br>
    {% for message in get_flashed_messages() %}
    {{ message }}
    {% endfor %}
</body>
</html>